/*외부 스타일 시트 작성 영역*/

/*
 CSS 문법 이용
 1. 속성 선택자
*/

/*
  선택자[속성=속성값] <- 이거 중요!
  해당 선택자에 [] 안에 작성된 속성과 속성값과 일치하는 요소 찾기
*/

div[name=name1] {
    background-color: beige;
}

/*
  선택자[속성~=속성값]
  해당 속성에 속성값이 포함되어 있는 요소 찾기(공백 기준 구분)
*/

div[name~=name1] {
    background-color: blanchedalmond;
}

/*
 선택자[속성|=속성값]
 div중 name 속성값에 name1로 시작하는 단어 구분
 *속성값으로 시작하는 단어 또는 -로 구분되어 시작하는 단어
*/ 

div[name|=name1] {
    background-color: cadetblue;
}

/*
  div중 클래스이름이 div로 시작하는 요소
  divclass 이렇게 붙여서도 실험해보기(아마안될거임)
*/

div[class|=div] {
    background-color: blueviolet;
}

/*
 선택자[속성^=속성값]
 div중 name 속성값이 na로 시작하는 요소(단어 아니여도 가능)
*/

div[name^=na] {
    background-color: yellowgreen;
}

/*
 선택자[속성$=속성값]
 div중 class 속성 값이 ss로 끝나는 요소(단어 아니여도 가능)
*/

div[class$=ss] {
    background-color: brown;
}

/*
 선택자[속성*=속성값]
 div중 class 속성에 i가 포함된 요소
*/

div[class*=i] {
    color: white;
}

#test1{
    border: 1px solid black;
}

/*------------------자손, 후손 선택자---------------*/
#test1>h4{/*test1 아이디값을 갖는 요소의 자손 중 h4태그 선택*/
    background-color: bisque;

}

#test1>ul>li{
    color: blueviolet;
}

#test1>li { /*test1의 자손 중 li요소는 없다.*/
    background-color: aquamarine;
}

#test1 li { /*후손으로 변경하여 처리*/
    background-color: turquoise;
}

#test1 ul {
    color:red;
}

/*-----------------------동위레벨--------------------------------*/

/*
 a+b : a요소 뒤에 있는 b요소 선택
*/

#test2+div{
    background-color: cadetblue;
}

#test2~ul{ /*바로 뒤에 ul이 있는것이 아니기 때문에 적용 되지 않음(+를 이용했을때임) ~은 가능*/
    background-color: violet;

}

#test2~div{
    color: tomato;
}

/*
반응 선택자
*/ 

.area{
    background-color: skyblue;
    color: white;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

#active-test:active{
    background-color: antiquewhite;
    color: thistle;
    width: 150px;
    height: 150px;
    cursor: pointer;

}

#hover-test:hover{
    background-color: deepskyblue;
    color: white;
    width: 200px;
    height: 200px;
    cursor: wait;
}

/*
 상태 선택자
*/

input[type=checkbox]:checked {
    width: 20px;
    height: 20px;
}

/*
 체크박스가 체크되었을때 뒤에 작성한 글씨가 커지도록 처리해보기
 input 요소중 checkbox 타입인 요소가 checked상태일 때
 바로 뒤에 있는 label 태그 선택해서 스타일 지정 
*/

input[type=checkbox]:checked+label{
    font-size:20px;
    color: burlywood;
}

input[name=userId]:focus{
    background-color: seashell;
    color: blue;
}

input[name=userPwd]:focus{
    background-color: rosybrown;
    color: white;
}

button:enabled{
    background-color: blueviolet;
    color: white;
}

button:disabled{
    background-color: black;
    color:white;
    opacity:0.2; /*투명도*/
}